<html>
    <head>
        <meta charset="utf-8">
        <script src='https://cdn.bootcss.com/echarts/3.7.2/echarts.simple.js'></script>
        <script src='echarts-wordcloud.js'></script>
    </head>
    <body>
        <style>
            html, body, #main {
                /*width: 100%;*/
                /*height: 100%;*/
                width: 1100px;
                height: 1000px;
                margin: 0;
            }
        </style>
        <div id='main'></div>
        <script>
            var chart = echarts.init(document.getElementById('main'));

            var keywords = {
                "Toy Story": 546782,
                "Jumanji": 5720,
                "Grumpier Old Men": 267048,
                "Waiting to Exhale": 220358,
                "Father of the Bride Part II": 198360,
                "Heat": 260284,
                "Sabrina": 282001,
                "Tom and Huck": 172112,
                "Sudden Death": 185571,
                "GoldenEye": 69219,
                "American President, The": 131522,
                "Dracula: Dead and Loving It": 238083,
                "Balto": 102310,
                "Nixon": 34723,
                "Cutthroat Island": 243709,
                "Casino": 171376,
                "Sense and Sensibility": 25818,
                "Four Rooms": 23920,
                "Ace Ventura: When Nature Calls": 118131,
                "Money Train": 210959,
                "Get Shorty": 231941,
                "Copycat": 215762,
                "Assassins": 271653,
                "Powder": 121449,
                "Leaving Las Vegas": 107514,
                "Othello": 219913,
                "Now and Then": 156844,
                "Persuasion": 183018,
                "City of Lost Children, The": 183366,
                "Shanghai Triad (Yao a yao yao dao waipo qiao)": 200379,
                "Dangerous Minds": 215004,
                "Twelve Monkeys": 233246,
                "Wings of Courage": 93010,
                "Babe": 120076,
                "Carrington": 282814,
                "Dead Man Walking": 230942,
                "Across the Sea of Time": 274657,
                "It Takes Two": 233819,
                "Clueless": 169662,
                "Cry, the Beloved Country": 7588,
                "Richard III": 42534,
                "Dead Presidents": 49723,
                "Restoration": 104865,
                "Mortal Kombat": 76745,
                "To Die For": 138834,
                "How to Make an American Quilt": 165595,
                "Seven (Se7en)": 189743,
                "Pocahontas": 60955,
                "When Night Is Falling": 39695,
                "Usual Suspects, The": 223040,
                "Guardian Angel": 60483,
                "Mighty Aphrodite": 126835,
                "Lamerica": 241122,
                "Big Green, The": 90579,
                "Georgia": 239269,
                "Kids of the Round Table": 275650,
                "Home for the Holidays": 186674,
                "Postino, Il (The Postman)": 291067,
                "Confessional, The (Le Confessionnal)": 2959,
                "Indian in the Cupboard, The": 74007,
                "Eye for an Eye": 152523,
                "Mr. Holland's Opus": 122184,
                "Don't Be a Menace to South Central While Drinking Your Juice in the Hood": 213404,
                "Two if by Sea": 63930,
                "Bio-Dome": 52542,
                "Lawnmower Man 2: Beyond Cyberspace": 37498,
                "Two Bits": 142126,
                "French Twist (Gazon maudit)": 57114,
                "Friday": 90913,
                "From Dusk Till Dawn": 237170,
                "Fair Game": 169573,
                "Kicking and Screaming": 160325,
                "Mis\ufffdrables, Les": 298592,
                "Bed of Roses": 81918,
                "Big Bully": 36984,
                "Screamers": 100005,
                "Nico Icon": 273076,
                "Crossing Guard, The": 32594,
                "Juror, The": 3353,
                "White Balloon, The (Badkonake Sefid )": 198552,
                "Things to Do in Denver when You're Dead": 114931,
                "Antonia's Line (Antonia)": 93915,
                "Once Upon a Time... When We Were Colored": 193138,
                "Last Summer in the Hamptons": 266286,
                "Angels and Insects": 102412,
                "White Squall": 8376,
                "Dunston Checks In": 51541,
                "Black Sheep": 149722,
                "Nick of Time": 32374,
                "Journey of August King, The": 184821,
                "Mary Reilly": 148258,
                "Vampire in Brooklyn": 140864,
                "Beautiful Girls": 27463,
                "Broken Arrow": 274724,
                "In the Bleak Midwinter": 44484,
                "Hate (Haine, La)": 226030,
                "Shopping": 120721,
                "Heidi Fleiss: Hollywood Madam": 277659,
                "City Hall": 70528,
                "Bottle Rocket": 245595,
                "Mr. Wrong": 213115,
                "Unforgettable": 14420,
                "Happy Gilmore": 232306,
                "Bridges of Madison County, The": 168313,
                "Nobody Loves Me (Keiner liebt mich)": 290139,
                "Muppet Treasure Island": 15442,
                "Catwalk": 40328,
                "Headless Body in Topless Bar": 268992,
                "Braveheart": 275323,
                "Taxi Driver": 175255,
                "Rumble in the Bronx": 271342,
                "Before and After": 241024,
                "Margaret's Museum": 14967,
                "Happiness Is in the Field": 248976,
                "Anne Frank Remembered": 18466,
                "Young Poisoner's Handbook, The": 242562,
                "If Lucy Fell": 156043,
                "Steal Big, Steal Little": 125015,
                "Race the Sun": 176909,
                "Boys of St. Vincent, The": 54173,
                "Boomerang": 182229,
                "Chungking Express": 121948,
                "Star Maker, The (Uomo delle stelle, L')": 23108,
                "Flirting With Disaster": 184102,
                "NeverEnding Story III, The": 185347,
                "Silence of the Palace, The (Saimt el Qusur)": 254224,
                "Jupiter's Wife": 252974,
                "Pie in the Sky": 279072,
                "Angela": 76128,
                "Frankie Starlight": 20512,
                "Jade": 289376,
                "Nueba Yol": 272685,
                "Sonic Outlaws": 183419,
                "Down Periscope": 293585,
                "From the Journals of Jean Seberg": 192608,
                "Man of the Year": 118495,
                "Neon Bible, The": 56491,
                "Target": 150457,
                "Up Close and Personal": 62037,
                "Birdcage, The": 31644,
                "Shadows (Cienie)": 135932,
                "Gospa": 206178,
                "Brothers McMullen, The": 239148,
                "Bad Boys": 143908,
                "Amazing Panda Adventure, The": 75405,
                "Basketball Diaries, The": 83763,
                "Awfully Big Adventure, An": 130962,
                "Amateur": 45390,
                "Apollo 13": 176552,
                "Rob Roy": 294600,
                "Addiction, The": 94659,
                "Batman Forever": 186998,
                "Belle de jour": 158624,
                "Beyond Rangoon": 284925,
                "Blue in the Face": 3860,
                "Canadian Bacon": 124903,
                "Casper": 238387,
                "Clockers": 33484,
                "Congo": 150474,
                "Crimson Tide": 205681,
                "Crumb": 102626,
                "Desperado": 52360,
                "Devil in a Blue Dress": 166663,
                "Die Hard: With a Vengeance": 226136,
                "Doom Generation, The": 228103,
                "Feast of July": 241872,
                "First Knight": 257265,
                "Free Willy 2: The Adventure Home": 62562,
                "Hackers": 286997,
                "Jeffrey": 274501,
                "Johnny Mnemonic": 236486,
                "Judge Dredd": 277912,
                "Jury Duty": 166505,
                "Kids": 265949,
                "Living in Oblivion": 291178,
                "Lord of Illusions": 261045,
                "Love & Human Remains": 125157,
                "Mad Love": 154047,
                "Mallrats": 88684,
                "Mighty Morphin Power Rangers: The Movie": 234989,
                "Moonlight and Valentino": 40938,
                "Mute Witness": 123341,
                "Nadja": 14671,
                "Net, The": 104521,
                "Nine Months": 246249,
                "Party Girl": 235062,
                "Prophecy, The": 261365,
                "Reckless": 16840,
                "Safe": 277036,
                "Scarlet Letter, The": 267958,
                "Show, The": 249332,
                "Showgirls": 25348,
                "Smoke": 50485,
                "Something to Talk About": 124972,
                "Species": 193680,
                "Stars Fell on Henrietta, The": 66325,
                "Strange Days": 211319,
                "Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les)": 297493,
                "Tie That Binds, The": 44498,
                "Three Wishes": 192725,
                "Total Eclipse": 3146,
                "To Wong Foo, Thanks for Everything! Julie Newmar": 81999,
                "Under Siege 2: Dark Territory": 48869,
                "Unstrung Heroes": 8447,
                "Unzipped": 187563,
                "Walk in the Clouds, A": 286492,
                "Waterworld": 250832,
                "White Man's Burden": 295155,
                "Wild Bill": 154374,
                "Browning Version, The": 146822,
                "Bushwhacked": 27876,
                "Burnt By the Sun (Utomlyonnye solntsem)": 230750,
                "Before the Rain (Pred dozhdot)": 265024,
                "Before Sunrise": 142926,
                "Billy Madison": 21646,
                "Babysitter, The": 208760,
                "Boys on the Side": 38727,
                "Cure, The": 109276,
                "Castle Freak": 233458,
                "Circle of Friends": 133981,
                "Clerks": 211478,
                "Don Juan DeMarco": 273210,
                "Disclosure": 52532,
                "Dream Man": 55761,
                "Drop Zone": 256079,
                "Destiny Turns on the Radio": 206506,
                "Death and the Maiden": 13459,
                "Dolores Claiborne": 119534,
                "Dumb & Dumber": 105503,
                "Eat Drink Man Woman": 108224,
                "Exotica": 16315,
                "Exit to Eden": 243619,
                "Ed Wood": 211377,
                "French Kiss": 216401,
                "Forget Paris": 26890,
                "Far From Home: The Adventures of Yellow Dog": 250474,
                "Goofy Movie, A": 219601,
                "Hideaway": 81100,
                "Fluke": 161336,
                "Farinelli: il castrato": 204514,
                "Gordy": 127862,
                "Gumby: The Movie": 33250,
                "Glass Shield, The": 217389,
                "Hoop Dreams": 186902,
                "Heavenly Creatures": 241475,
                "Houseguest": 205150,
                "Immortal Beloved": 148768,
                "Heavyweights": 186758,
                "Hunted, The": 70721,
                "I.Q.": 43705,
                "Interview with the Vampire": 252307,
                "Jefferson in Paris": 172216,
                "Jerky Boys, The": 288922,
                "Junior": 228782,
                "Just Cause": 99517,
                "Kid in King Arthur's Court, A": 256520,
                "Kiss of Death": 274963,
                "Star Wars: Episode IV - A New Hope": 42421,
                "Little Women": 204628,
                "Little Princess, A": 13588,
                "Ladybird Ladybird": 37525,
                "Enfer, L'": 175088,
                "Like Water for Chocolate (Como agua para chocolate)": 294203,
                "Legends of the Fall": 159230,
                "Major Payne": 121228,
                "Little Odessa": 220887,
                "My Crazy Life (Mi vida loca)": 238881,
                "Love Affair": 133208,
                "Losing Isaiah": 19418,
                "Madness of King George, The": 156637,
                "Mary Shelley's Frankenstein": 246220,
                "Man of the House": 237737,
                "Mixed Nuts": 292653,
                "Milk Money": 224801,
                "Miracle on 34th Street": 108673,
                "Miami Rhapsody": 230951,
                "My Family": 170497,
                "Murder in the First": 54667,
                "Nobody's Fool": 40227,
                "Nell": 247163,
                "New Jersey Drive": 257294,
                "New York Cop": 119215,
                "Beyond Bedlam": 281546,
                "Nemesis 2: Nebula": 150739,
                "Nina Takes a Lover": 174512,
                "Natural Born Killers": 282669,
                "Only You": 118986,
                "Once Were Warriors": 248690,
                "Poison Ivy II": 268602,
                "Outbreak": 218113,
                "Professional, The (a.k.a. Leon: The Professional)": 97854,
                "Perez Family, The": 223504,
                "Pyromaniac's Love Story, A": 3180,
                "Pulp Fiction": 170494,
                "Panther": 144007,
                "Pushing Hands": 66385,
                "Priest": 84299,
                "Quiz Show": 22825,
                "Picture Bride": 240025,
                "Queen Margot (La Reine Margot)": 186213,
                "Quick and the Dead, The": 146906,
                "Roommates": 281652,
                "Ready to Wear (Pret-A-Porter)": 257607,
                "Three Colors: Red": 141334,
                "Three Colors: Blue": 28153,
                "Three Colors: White": 1376,
                "Red Firecracker, Green Firecracker": 25405,
                "Rent-a-Kid": 253637,
                "Relative Fear": 274981,
                "Stuart Saves His Family": 229534,
                "Swan Princess, The": 91802,
                "Secret of Roan Inish, The": 295956,
                "Specialist, The": 242751,
                "Stargate": 201113,
                "Santa Clause, The": 264498,
                "Shawshank Redemption, The": 121712,
                "Shallow Grave": 194904,
                "Suture": 269888,
                "Strawberry and Chocolate (Fresa y chocolate)": 101468,
                "Swimming with Sharks": 162269,
                "Sum of Us, The": 260395,
                "National Lampoon's Senior Trip": 161503,
                "To Live (Huozhe)": 190773,
                "Tank Girl": 218068,
                "Tales From the Crypt Presents: Demon Knight": 253516,
                "Star Trek: Generations": 211945,
                "Tales from the Hood": 246082,
                "Tom & Viv": 251631,
                "Village of the Damned": 189014,
                "Tommy Boy": 55443,
                "Vanya on 42nd Street": 49192,
                "Underneath, The": 155192,
                "Walking Dead, The": 105056,
                "What's Eating Gilbert Grape": 108553,
                "Virtuosity": 93326,
                "While You Were Sleeping": 126898,
                "War, The": 262885,
                "Double Happiness": 186444,
                "Muriel's Wedding": 246280,
                "Baby-Sitters Club, The": 129307,
                "Ace Ventura: Pet Detective": 121705,
                "Adventures of Priscilla, Queen of the Desert, The": 114675,
                "Backbeat": 229140,
                "Bitter Moon": 59204,
                "Bullets Over Broadway": 260701,
                "Clear and Present Danger": 126216,
                "Client, The": 115420,
                "Corrina, Corrina": 179261,
                "Crooklyn": 56329,
                "Crow, The": 263595,
                "Cobb": 17271,
                "Flintstones, The": 150094,
                "Forrest Gump": 128066,
                "Four Weddings and a Funeral": 159750,
                "Higher Learning": 259631,
                "I Like It Like That": 28235,
                "I Love Trouble": 169469,
                "It Could Happen to You": 175003,
                "Jungle Book, The": 76896,
                "Wonderful, Horrible Life of Leni Riefenstahl, The (Die Macht der Bilder)": 169593,
                "Lion King, The": 220023,
                "Little Buddha": 27958,
                "Wes Craven's New Nightmare": 16296,
                "Mask, The": 150215,
                "Maverick": 51401,
                "Mrs. Parker and the Vicious Circle": 261153,
                "Naked Gun 33 1/3: The Final Insult": 217759,
                "Paper, The": 166083,
                "Reality Bites": 169340,
                "Red Rock West": 285118,
                "Richie Rich": 7296,
                "Safe Passage": 232604,
                "River Wild, The": 94481,
                "Speed": 155295,
                "Speechless": 234480,
                "Timecop": 264068,
                "True Lies": 192727,
                "When a Man Loves a Woman": 166068,
                "Wolf": 107626,
                "Wyatt Earp": 115218,
                "Bad Company": 268930,
                "Man of No Importance, A": 253453,
                "S.F.W.": 78881,
                "Low Down Dirty Shame, A": 148627,
                "Boys Life": 255070,
                "Colonel Chabert, Le": 67308,
                "Faster Pussycat! Kill! Kill!": 233006,
                "Jason's Lyric": 176915,
                "Secret Adventures of Tom Thumb, The": 126499,
                "Street Fighter": 196879,
                "Coldblooded": 178734,
                "Desert Winds": 182028,
                "Fall Time": 114154,
                "Fear, The": 290317,
                "Frank and Ollie": 96423,
                "Girl in the Cadillac": 196554,
                "Homage": 199470,
                "Mirage": 166686,
                "Open Season": 205072,
                "Two Crimes": 127491,
                "Brother Minister: The Assassination of Malcolm X": 41298,
                "Highlander III: The Sorcerer": 61237,
                "Federal Hill": 104105,
                "In the Mouth of Madness": 117736,
                "8 Seconds": 210551,
                "Above the Rim": 169364,
                "Addams Family Values": 55464,
                "You So Crazy": 253102,
                "Age of Innocence, The": 132878,
                "Airheads": 146414,
                "Air Up There, The": 35874,
                "Another Stakeout": 270747,
                "Bad Girls": 118527,
                "Barcelona": 53700,
                "Being Human": 192639,
                "Beverly Hillbillies, The": 3576,
                "Beverly Hills Cop III": 240305,
                "Black Beauty": 53821,
                "Blink": 163538,
                "Blown Away": 83859,
                "Blue Chips": 288416,
                "Blue Sky": 174735,
                "Body Snatchers": 45257,
                "Boxing Helena": 254761,
                "Bronx Tale, A": 148558,
                "Cabin Boy": 215818,
                "Calendar Girl": 53827,
                "Carlito's Way": 210143,
                "City Slickers II: The Legend of Curly's Gold": 6623,
                "Clean Slate": 17081,
                "Cliffhanger": 274105,
                "Coneheads": 264561,
                "Color of Night": 135534,
                "Cops and Robbersons": 54225,
                "Cowboy Way, The": 36376,
                "Dangerous Game": 278577,
                "Dave": 252927,
                "Dazed and Confused": 170760,
                "Demolition Man": 275307,
                "Endless Summer 2, The": 121856,
                "Even Cowgirls Get the Blues": 185819,
                "Fatal Instinct": 275273,
                "Farewell My Concubine": 86303,
                "Favor, The": 167754,
                "Fearless": 96850,
                "Fear of a Black Hat": 209501,
                "With Honors": 108269,
                "Flesh and Bone": 278802,
                "Widows' Peak": 201519,
                "For Love or Money": 86255,
                "Firm, The": 288516,
                "Free Willy": 233570,
                "Fresh": 138327,
                "Fugitive, The": 110682,
                "Geronimo: An American Legend": 72643,
                "Getaway, The": 90749,
                "Getting Even with Dad": 144856,
                "Go Fish": 288654,
                "Good Man in Africa, A": 233452,
                "Guilty as Sin": 90698,
                "Hard Target": 84885,
                "Heaven & Earth": 123533,
                "Hot Shots! Part Deux": 80959,
                "Live Nude Girls": 97615,
                "Englishman Who Went Up a Hill, But Came Down a Mountain, The": 248645,
                "House of the Spirits, The": 121263,
                "House Party 3": 173131,
                "Hudsucker Proxy, The": 115723,
                "I'll Do Anything": 225066,
                "In the Army Now": 295026,
                "In the Line of Fire": 167707,
                "In the Name of the Father": 80612,
                "Inkwell, The": 235267,
                "What's Love Got to Do with It?": 139150,
                "Jimmy Hollywood": 70338,
                "Judgment Night": 130930,
                "Jurassic Park": 199454,
                "Kalifornia": 97662,
                "Killing Zoe": 43058,
                "King of the Hill": 216749,
                "Lassie": 216576,
                "Last Action Hero": 257108,
                "Life with Mikey": 158183,
                "Lightning Jack": 183604,
                "M. Butterfly": 259040,
                "Made in America": 111791,
                "Malice": 53428,
                "Man Without a Face, The": 34450,
                "Manhattan Murder Mystery": 130065,
                "Menace II Society": 52839,
                "Executive Decision": 40762,
                "In the Realm of the Senses (Ai no corrida)": 24166,
                "What Happened Was...": 155299,
                "Much Ado About Nothing": 25242,
                "Mr. Jones": 83466,
                "Mr. Wonderful": 25025,
                "Mrs. Doubtfire": 291902,
                "Naked": 223521,
                "Next Karate Kid, The": 20432,
                "New Age, The": 206368,
                "No Escape": 194772,
                "North": 191732,
                "Orlando": 63178,
                "Perfect World, A": 88197,
                "Philadelphia": 137227,
                "Piano, The": 47684,
                "Poetic Justice": 232060,
                "Program, The": 38515,
                "Robert A. Heinlein's The Puppet Masters": 199356,
                "Radioland Murders": 260759,
                "Ref, The": 95534,
                "Remains of the Day, The": 183434,
                "Renaissance Man": 33385,
                "Rising Sun": 86056,
                "Road to Wellville, The": 191512,
                "Robocop 3": 23630,
                "Robin Hood: Men in Tights": 57808,
                "Romeo Is Bleeding": 271543,
                "Romper Stomper": 135307,
                "Ruby in Paradise": 97636,
                "Rudy": 42257,
                "Saint of Fort Washington, The": 152437,
                "Savage Nights (Nuits fauves, Les)": 267761,
                "Schindler's List": 272791,
                "Scout, The": 276869,
                "Searching for Bobby Fischer": 121827,
                "Second Best": 244840,
                "Secret Garden, The": 181993,
                "Serial Mom": 59391,
                "Shadow, The": 167431,
                "Shadowlands": 87644,
                "Short Cuts": 55600,
                "Simple Twist of Fate, A": 193838,
                "Sirens": 203736,
                "Six Degrees of Separation": 158745,
                "Sleepless in Seattle": 278052,
                "Sliver": 51368,
                "Blade Runner": 171628,
                "Son in Law": 169799,
                "So I Married an Axe Murderer": 11101,
                "Striking Distance": 238588,
                "Harlem": 115901,
                "Super Mario Bros.": 65662,
                "Surviving the Game": 212899,
                "Terminal Velocity": 244731,
                "Thirty-Two Short Films About Glenn Gould": 32425,
                "Threesome": 63100,
                "Nightmare Before Christmas, The": 63375,
                "Three Musketeers, The": 162090,
                "Tombstone": 14065,
                "Trial by Jury": 220700,
                "True Romance": 80736,
                "War Room, The": 177074,
                "Mamma Roma": 200359,
                "Pagemaster, The": 92517,
                "Paris, France": 232734,
                "Beans of Egypt, Maine, The": 111733,
                "Killer (Bulletproof Heart)": 63010,
                "Welcome to the Dollhouse": 124993,
                "Germinal": 262010,
                "Chasers": 162476,
                "Cronos": 144402,
                "Naked in New York": 264235,
                "Kika": 115937,
                "Bhaji on the Beach": 193670,
                "Little Big League": 145366,
                "Slingshot, The (K\ufffddisbellan )": 291837,
                "Wedding Gift, The": 44693,
                "Foreign Student": 191959,
                "Ciao, Professore! (Io speriamo che me la cavo )": 251803,
                "Spanking the Monkey": 278597,
                "Little Rascals, The": 109757,
                "Fausto": 114707,
                "Andre": 233815,
                "Hour of the Pig, The": 184758,
                "Scorta, La": 140951,
                "Princess Caraboo": 85423,
                "Celluloid Closet, The": 253431,
                "Metisse (Caf\ufffd au Lait)": 246679,
                "Dear Diary (Caro Diario)": 52571,
                "I Don't Want to Talk About It (De eso no se habla)": 288166,
                "Brady Bunch Movie, The": 153350,
                "Home Alone": 218233,
                "Ghost": 279049,
                "Aladdin": 172972,
                "Terminator 2: Judgment Day": 233956,
                "Dances with Wolves": 147549,
                "Tough and Deadly": 92595,
                "Batman": 191820,
                "Silence of the Lambs, The": 53720,
                "Snow White and the Seven Dwarfs": 186354,
                "Beauty and the Beast": 145929,
                "Pinocchio": 252077,
                "Pretty Woman": 128693,
                "Window to Paris": 109502,
                "Wild Bunch, The": 71598,
                "Love and a .45": 271917,
                "Wooden Man's Bride, The (Wu Kui)": 96614,
                "Great Day in Harlem, A": 297548
            }

            // var keywords = {
            //   "visualMap": 22199,
            //   "continuous": 10288,
            //   "contoller": 620,
            //   "series": 274470,
            //   "gauge": 12311,
            //   "detail": 1206,
            //   "piecewise": 4885,
            //   "textStyle": 32294,
            //   "markPoint": 18574,
            //   "pie": 38929,
            //   "roseType": 969,
            //   "label": 37517,
            //   "emphasis": 12053,
            //   "yAxis": 57299,
            //   "name": 15418,
            //   "type": 22905,
            //   "gridIndex": 5146,
            //   "normal": 49487,
            //   "itemStyle": 33837,
            //   "min": 4500,
            //   "silent": 5744,
            //   "animation": 4840,
            //   "offsetCenter": 232,
            //   "inverse": 3706,
            //   "borderColor": 4812,
            //   "markLine": 16578,
            //   "line": 76970,
            //   "radiusAxis": 6704,
            //   "radar": 15964,
            //   "data": 60679,
            //   "dataZoom": 24347,
            //   "tooltip": 43420,
            //   "toolbox": 25222,
            //   "geo": 16904,
            //   "parallelAxis": 4029,
            //   "parallel": 5319,
            //   "max": 3393,
            //   "bar": 43066,
            //   "heatmap": 3110,
            //   "map": 20285,
            //   "animationDuration": 3425,
            //   "animationDelay": 2431,
            //   "splitNumber": 5175,
            //   "axisLine": 12738,
            //   "lineStyle": 19601,
            //   "splitLine": 7133,
            //   "axisTick": 8831,
            //   "axisLabel": 17516,
            //   "pointer": 590,
            //   "color": 23426,
            //   "title": 38497,
            //   "formatter": 15214,
            //   "slider": 7236,
            //   "legend": 66514,
            //   "grid": 28516,
            //   "smooth": 1295,
            //   "smoothMonotone": 696,
            //   "sampling": 757,
            //   "feature": 12815,
            //   "saveAsImage": 2616,
            //   "polar": 6279,
            //   "calculable": 879,
            //   "backgroundColor": 9419,
            //   "excludeComponents": 130,
            //   "show": 20620,
            //   "text": 2592,
            //   "icon": 2782,
            //   "dimension": 478,
            //   "inRange": 1060,
            //   "animationEasing": 2983,
            //   "animationDurationUpdate": 2259,
            //   "animationDelayUpdate": 2236,
            //   "animationEasingUpdate": 2213,
            //   "xAxis": 89459,
            //   "angleAxis": 5469,
            //   "showTitle": 484,
            //   "dataView": 2754,
            //   "restore": 932,
            //   "timeline": 10104,
            //   "range": 477,
            //   "value": 5732,
            //   "precision": 878,
            //   "target": 1433,
            //   "zlevel": 5361,
            //   "symbol": 8718,
            //   "interval": 7964,
            //   "symbolSize": 5300,
            //   "showSymbol": 1247,
            //   "inside": 8913,
            //   "xAxisIndex": 3843,
            //   "orient": 4205,
            //   "boundaryGap": 5073,
            //   "nameGap": 4896,
            //   "zoomLock": 571,
            //   "hoverAnimation": 2307,
            //   "legendHoverLink": 3553,
            //   "stack": 2907,
            //   "throttle": 466,
            //   "connectNulls": 897,
            //   "clipOverflow": 826,
            //   "startValue": 551,
            //   "minInterval": 3292,
            //   "opacity": 3097,
            //   "splitArea": 4775,
            //   "filterMode": 635,
            //   "end": 409,
            //   "left": 6475,
            //   "funnel": 2238,
            //   "lines": 6403,
            //   "baseline": 431,
            //   "align": 2608,
            //   "coord": 897,
            //   "nameTextStyle": 7477,
            //   "width": 4338,
            //   "shadowBlur": 4493,
            //   "effect": 929,
            //   "period": 225,
            //   "areaColor": 631,
            //   "borderWidth": 3654,
            //   "nameLocation": 4418,
            //   "position": 11723,
            //   "containLabel": 1701,
            //   "scatter": 10718,
            //   "areaStyle": 5310,
            //   "scale": 3859,
            //   "pieces": 414,
            //   "categories": 1000,
            //   "selectedMode": 3825,
            //   "itemSymbol": 273,
            //   "effectScatter": 7147,
            //   "fontStyle": 3376,
            //   "fontSize": 3386,
            //   "margin": 1034,
            //   "iconStyle": 2257,
            //   "link": 1366,
            //   "axisPointer": 5245,
            //   "showDelay": 896,
            //   "graph": 22194,
            //   "subtext": 1442,
            //   "selected": 2881,
            //   "barCategoryGap": 827,
            //   "barGap": 1094,
            //   "barWidth": 1521,
            //   "coordinateSystem": 3622,
            //   "barBorderRadius": 284,
            //   "z": 4014,
            //   "polarIndex": 1456,
            //   "shadowOffsetX": 3046,
            //   "shadowColor": 3771,
            //   "shadowOffsetY": 2475,
            //   "height": 1988,
            //   "barMinHeight": 575,
            //   "lang": 131,
            //   "symbolRotate": 2752,
            //   "symbolOffset": 2549,
            //   "showAllSymbol": 942,
            //   "transitionDuration": 993,
            //   "bottom": 3724,
            //   "fillerColor": 229,
            //   "nameMap": 1249,
            //   "barMaxWidth": 747,
            //   "radius": 2103,
            //   "center": 2425,
            //   "magicType": 3276,
            //   "labelPrecision": 248,
            //   "option": 654,
            //   "seriesIndex": 935,
            //   "controlPosition": 121,
            //   "itemGap": 3188,
            //   "padding": 3481,
            //   "shadowStyle": 347,
            //   "boxplot": 1394,
            //   "labelFormatter": 264,
            //   "realtime": 631,
            //   "dataBackgroundColor": 239,
            //   "showDetail": 247,
            //   "showDataShadow": 217,
            //   "x": 684,
            //   "valueDim": 499,
            //   "onZero": 931,
            //   "right": 3255,
            //   "clockwise": 1035,
            //   "itemWidth": 1732,
            //   "trigger": 3840,
            //   "axis": 379,
            //   "selectedOffset": 670,
            //   "startAngle": 1293,
            //   "minAngle": 590,
            //   "top": 4637,
            //   "avoidLabelOverlap": 870,
            //   "labelLine": 3785,
            //   "sankey": 2933,
            //   "endAngle": 213,
            //   "start": 779,
            //   "roam": 1738,
            //   "fontWeight": 2828,
            //   "fontFamily": 2490,
            //   "subtextStyle": 2066,
            //   "indicator": 853,
            //   "sublink": 708,
            //   "zoom": 1038,
            //   "subtarget": 659,
            //   "length": 1060,
            //   "itemSize": 505,
            //   "controlStyle": 452,
            //   "yAxisIndex": 2529,
            //   "edgeLabel": 1188,
            //   "radiusAxisIndex": 354,
            //   "scaleLimit": 1313,
            //   "geoIndex": 535,
            //   "regions": 1892,
            //   "itemHeight": 1290,
            //   "nodes": 644,
            //   "candlestick": 3166,
            //   "crossStyle": 466,
            //   "edges": 369,
            //   "links": 3277,
            //   "layout": 846,
            //   "barBorderColor": 721,
            //   "barBorderWidth": 498,
            //   "treemap": 3865,
            //   "y": 367,
            //   "valueIndex": 704,
            //   "showLegendSymbol": 482,
            //   "mapValueCalculation": 492,
            //   "optionToContent": 264,
            //   "handleColor": 187,
            //   "handleSize": 271,
            //   "showContent": 1853,
            //   "angleAxisIndex": 406,
            //   "endValue": 327,
            //   "triggerOn": 1720,
            //   "contentToOption": 169,
            //   "buttonColor": 71,
            //   "rotate": 1144,
            //   "hoverLink": 335,
            //   "outOfRange": 491,
            //   "textareaColor": 58,
            //   "textareaBorderColor": 58,
            //   "textColor": 60,
            //   "buttonTextColor": 66,
            //   "category": 336,
            //   "hideDelay": 786,
            //   "alwaysShowContent": 1267,
            //   "extraCssText": 901,
            //   "effectType": 277,
            //   "force": 1820,
            //   "rippleEffect": 723,
            //   "edgeSymbolSize": 329,
            //   "showEffectOn": 271,
            //   "gravity": 199,
            //   "edgeLength": 193,
            //   "layoutAnimation": 152,
            //   "length2": 169,
            //   "enterable": 957,
            //   "dim": 83,
            //   "readOnly": 143,
            //   "levels": 444,
            //   "textGap": 256,
            //   "pixelRatio": 84,
            //   "nodeScaleRatio": 232,
            //   "draggable": 249,
            //   "brushType": 158,
            //   "radarIndex": 152,
            //   "large": 182,
            //   "edgeSymbol": 675,
            //   "largeThreshold": 132,
            //   "leafDepth": 73,
            //   "childrenVisibleMin": 73,
            //   "minSize": 35,
            //   "maxSize": 35,
            //   "sort": 90,
            //   "funnelAlign": 61,
            //   "source": 336,
            //   "nodeClick": 200,
            //   "curveness": 350,
            //   "areaSelectStyle": 104,
            //   "parallelIndex": 52,
            //   "initLayout": 359,
            //   "trailLength": 116,
            //   "boxWidth": 20,
            //   "back": 53,
            //   "rewind": 110,
            //   "zoomToNodeRatio": 80,
            //   "squareRatio": 60,
            //   "parallelAxisDefault": 358,
            //   "checkpointStyle": 440,
            //   "nodeWidth": 49,
            //   "color0": 62,
            //   "layoutIterations": 56,
            //   "nodeGap": 54,
            //   "color(Array": 76,
            //   "<string>)": 76,
            //   "repulsion": 276,
            //   "tiled": 105,
            //   "currentIndex": 145,
            //   "axisType": 227,
            //   "loop": 97,
            //   "playInterval": 112,
            //   "borderColor0": 23,
            //   "gap": 43,
            //   "autoPlay": 123,
            //   "showPlayBtn": 25,
            //   "breadcrumb": 119,
            //   "colorMappingBy": 85,
            //   "id": 18,
            //   "blurSize": 85,
            //   "minOpacity": 50,
            //   "maxOpacity": 54,
            //   "prevIcon": 12,
            //   "children": 21,
            //   "shape": 98,
            //   "nextIcon": 12,
            //   "showNextBtn": 17,
            //   "stopIcon": 21,
            //   "visibleMin": 83,
            //   "visualDimension": 97,
            //   "colorSaturation": 56,
            //   "colorAlpha": 66,
            //   "emptyItemWidth": 10,
            //   "inactiveOpacity": 4,
            //   "activeOpacity": 4,
            //   "showPrevBtn": 19,
            //   "playIcon": 26,
            //   "ellipsis": 19,
            //   "gapWidth": 19,
            //   "borderColorSaturation": 10,
            //   "handleIcon": 2,
            //   "handleStyle": 6,
            //   "borderType": 1,
            //   "constantSpeed": 1,
            //   "polyline": 2,
            //   "blendMode": 1,
            //   "dataBackground": 1,
            //   "textAlign": 1,
            //   "textBaseline": 1,
            //   "brush": 3,
            //     "testcontinuous": 10288,
            //     "testcontoller": 620,
            //     "testseries": 274470,
            //     "testgauge": 12311,
            //     "testdetail": 1206,
            //     "testpiecewise": 4885,
            //     "testtextStyle": 32294,
            //     "testmarkPoint": 18574,
            //     "testpie": 38929,
            //     "testroseType": 969,
            //     "testlabel": 37517,
            //     "testemphasis": 12053,
            //     "testyAxis": 57299,
            //     "testname": 15418,
            //     "testtype": 22905,
            //     "testgridIndex": 5146,
            //     "testnormal": 49487,
            //     "testitemStyle": 33837,
            //     "testmin": 4500,
            //     "testsilent": 5744,
            //     "testanimation": 4840,
            //     "testoffsetCenter": 232,
            //     "testinverse": 3706,
            //     "testborderColor": 4812,
            //     "testmarkLine": 16578,
            //     "testline": 76970,
            //     "testradiusAxis": 6704,
            //     "testradar": 15964,
            //     "testdata": 60679,
            //     "testdataZoom": 24347,
            //     "testtooltip": 43420,
            //     "testtoolbox": 25222,
            //     "testgeo": 16904,
            //     "testparallelAxis": 4029,
            //     "testparallel": 5319,
            //     "testmax": 3393,
            //     "testbar": 43066,
            //     "testheatmap": 3110,
            //     "testmap": 20285,
            //     "testanimationDuration": 3425,
            //     "testanimationDelay": 2431,
            //     "testsplitNumber": 5175,
            //     "testaxisLine": 12738,
            //     "testlineStyle": 19601,
            //     "testsplitLine": 7133,
            //     "testaxisTick": 8831,
            //     "testaxisLabel": 17516,
            //     "testpointer": 590,
            //     "testcolor": 23426,
            //     "testtitle": 38497,
            //     "testformatter": 15214,
            //     "testslider": 7236,
            //     "testlegend": 66514,
            //     "testgrid": 28516,
            //     "testsmooth": 1295,
            //     "testsmoothMonotone": 696,
            //     "testsampling": 757,
            //     "testfeature": 12815,
            //     "testsaveAsImage": 2616,
            //     "testpolar": 6279,
            //     "testcalculable": 879,
            //     "testbackgroundColor": 9419,
            //     "testexcludeComponents": 130,
            //     "testshow": 20620,
            //     "testtext": 2592,
            //     "testicon": 2782,
            //     "testdimension": 478,
            //     "testinRange": 1060,
            //     "testanimationEasing": 2983,
            //     "testanimationDurationUpdate": 2259,
            //     "testanimationDelayUpdate": 2236,
            //     "testanimationEasingUpdate": 2213,
            //     "testxAxis": 89459,
            //     "testangleAxis": 5469,
            //     "testshowTitle": 484,
            //     "testdataView": 2754,
            //     "testrestore": 932,
            //     "testtimeline": 10104,
            //     "testrange": 477,
            //     "testvalue": 5732,
            //     "testprecision": 878,
            //     "testtarget": 1433,
            //     "testzlevel": 5361,
            //     "testsymbol": 8718,
            //     "testinterval": 7964,
            //     "testsymbolSize": 5300,
            //     "testshowSymbol": 1247,
            //     "testinside": 8913,
            //     "testxAxisIndex": 3843,
            //     "testorient": 4205,
            //     "testboundaryGap": 5073,
            //     "testnameGap": 4896,
            //     "testzoomLock": 571,
            //     "testhoverAnimation": 2307,
            //     "testlegendHoverLink": 3553,
            //     "teststack": 2907,
            //     "testthrottle": 466,
            //     "testconnectNulls": 897,
            //     "testclipOverflow": 826,
            //     "teststartValue": 551,
            //     "testminInterval": 3292,
            //     "testopacity": 3097,
            //     "testsplitArea": 4775,
            //     "testfilterMode": 635,
            //     "testend": 409,
            //     "testleft": 6475,
            //     "testfunnel": 2238,
            //     "testlines": 6403,
            //     "testbaseline": 431,
            //     "testalign": 2608,
            //     "testcoord": 897,
            //     "testnameTextStyle": 7477,
            //     "testwidth": 4338,
            //     "testshadowBlur": 4493,
            //     "testeffect": 929,
            //     "testperiod": 225,
            //     "testareaColor": 631,
            //     "testborderWidth": 3654,
            //     "testnameLocation": 4418,
            //     "testposition": 11723,
            //     "testcontainLabel": 1701,
            //     "testscatter": 10718,
            //     "testareaStyle": 5310,
            //     "testscale": 3859,
            //     "testpieces": 414,
            //     "testcategories": 1000,
            //     "testselectedMode": 3825,
            //     "testitemSymbol": 273,
            //     "testeffectScatter": 7147,
            //     "testfontStyle": 3376,
            //     "testfontSize": 3386,
            //     "testmargin": 1034,
            //     "testiconStyle": 2257,
            //     "testlink": 1366,
            //     "testaxisPointer": 5245,
            //     "testshowDelay": 896,
            //     "testgraph": 22194,
            //     "testsubtext": 1442,
            //     "testselected": 2881,
            //     "testbarCategoryGap": 827,
            //     "testbarGap": 1094,
            //     "testbarWidth": 1521,
            //     "testcoordinateSystem": 3622,
            //     "testbarBorderRadius": 284,
            //     "testz": 4014,
            //     "testpolarIndex": 1456,
            //     "testshadowOffsetX": 3046,
            //     "testshadowColor": 3771,
            //     "testshadowOffsetY": 2475,
            //     "testheight": 1988,
            //     "testbarMinHeight": 575,
            //     "testlang": 131,
            //     "testsymbolRotate": 2752,
            //     "testsymbolOffset": 2549,
            //     "testshowAllSymbol": 942,
            //     "testtransitionDuration": 993,
            //     "testbottom": 3724,
            //     "testfillerColor": 229,
            //     "testnameMap": 1249,
            //     "testbarMaxWidth": 747,
            //     "testradius": 2103,
            //     "testcenter": 2425,
            //     "testmagicType": 3276,
            //     "testlabelPrecision": 248,
            //     "testoption": 654,
            //     "testseriesIndex": 935,
            //     "testcontrolPosition": 121,
            //     "testitemGap": 3188,
            //     "testpadding": 3481,
            //     "testshadowStyle": 347,
            //     "testboxplot": 1394,
            //     "testlabelFormatter": 264,
            //     "testrealtime": 631,
            //     "testdataBackgroundColor": 239,
            //     "testshowDetail": 247,
            //     "testshowDataShadow": 217,
            //     "testx": 684,
            //     "testvalueDim": 499,
            //     "testonZero": 931,
            //     "testright": 3255,
            //     "testclockwise": 1035,
            //     "testitemWidth": 1732,
            //     "testtrigger": 3840,
            //     "testaxis": 379,
            //     "testselectedOffset": 670,
            //     "teststartAngle": 1293,
            //     "testminAngle": 590,
            //     "testtop": 4637,
            //     "testavoidLabelOverlap": 870,
            //     "testlabelLine": 3785,
            //     "testsankey": 2933,
            //     "testendAngle": 213,
            //     "teststart": 779,
            //     "testroam": 1738,
            //     "testfontWeight": 2828,
            //     "testfontFamily": 2490,
            //     "testsubtextStyle": 2066,
            //     "testindicator": 853,
            //     "testsublink": 708,
            //     "testzoom": 1038,
            //     "testsubtarget": 659,
            //     "testlength": 1060,
            //     "testitemSize": 505,
            //     "testcontrolStyle": 452,
            //     "testyAxisIndex": 2529,
            //     "testedgeLabel": 1188,
            //     "testradiusAxisIndex": 354,
            //     "testscaleLimit": 1313,
            //     "testgeoIndex": 535,
            //     "testregions": 1892,
            //     "testitemHeight": 1290,
            //     "testnodes": 644,
            //     "testcandlestick": 3166,
            //     "testcrossStyle": 466,
            //     "testedges": 369,
            //     "testlinks": 3277,
            //     "testlayout": 846,
            //     "testbarBorderColor": 721,
            //     "testbarBorderWidth": 498,
            //     "testtreemap": 3865,
            //     "testy": 367,
            //     "testvalueIndex": 704,
            //     "testshowLegendSymbol": 482,
            //     "testmapValueCalculation": 492,
            //     "testoptionToContent": 264,
            //     "testhandleColor": 187,
            //     "testhandleSize": 271,
            //     "testshowContent": 1853,
            //     "testangleAxisIndex": 406,
            //     "testendValue": 327,
            //     "testtriggerOn": 1720,
            //     "testcontentToOption": 169,
            //     "testbuttonColor": 71,
            //     "testrotate": 1144,
            //     "testhoverLink": 335,
            //     "testoutOfRange": 491,
            //     "testtextareaColor": 58,
            //     "testtextareaBorderColor": 58,
            //     "testtextColor": 60,
            //     "testbuttonTextColor": 66,
            //     "testcategory": 336,
            //     "testhideDelay": 786,
            //     "testalwaysShowContent": 1267,
            //     "testextraCssText": 901,
            //     "testeffectType": 277,
            //     "testforce": 1820,
            //     "testrippleEffect": 723,
            //     "testedgeSymbolSize": 329,
            //     "testshowEffectOn": 271,
            //     "testgravity": 199,
            //     "testedgeLength": 193,
            //     "testlayoutAnimation": 152,
            //     "testlength2": 169,
            //     "testenterable": 957,
            //     "testdim": 83,
            //     "testreadOnly": 143,
            //     "testlevels": 444,
            //     "testtextGap": 256,
            //     "testpixelRatio": 84,
            //     "testnodeScaleRatio": 232,
            //     "testdraggable": 249,
            //     "testbrushType": 158,
            //     "testradarIndex": 152,
            //     "testlarge": 182,
            //     "testedgeSymbol": 675,
            //     "testlargeThreshold": 132,
            //     "testleafDepth": 73,
            //     "testchildrenVisibleMin": 73,
            //     "testminSize": 35,
            //     "testmaxSize": 35,
            //     "testsort": 90,
            //     "testfunnelAlign": 61,
            //     "testsource": 336,
            //     "testnodeClick": 200,
            //     "testcurveness": 350,
            //     "testareaSelectStyle": 104,
            //     "testparallelIndex": 52,
            //     "testinitLayout": 359,
            //     "testtrailLength": 116,
            //     "testboxWidth": 20,
            //     "testback": 53,
            //     "testrewind": 110,
            //     "testzoomToNodeRatio": 80,
            //     "testsquareRatio": 60,
            //     "testparallelAxisDefault": 358,
            //     "testcheckpointStyle": 440,
            //     "testnodeWidth": 49,
            //     "testcolor0": 62,
            //     "testlayoutIterations": 56,
            //     "testnodeGap": 54,
            //     "testcolor(Array": 76,
            //     "test<string>)": 76,
            //     "testrepulsion": 276,
            //     "testtiled": 105,
            //     "testcurrentIndex": 145,
            //     "testaxisType": 227,
            //     "testloop": 97,
            //     "testplayInterval": 112,
            //     "testborderColor0": 23,
            //     "testgap": 43,
            //     "testautoPlay": 123,
            //     "testshowPlayBtn": 25,
            //     "testbreadcrumb": 119,
            //     "testcolorMappingBy": 85,
            //     "testid": 18,
            //     "testblurSize": 85,
            //     "testminOpacity": 50,
            //     "testmaxOpacity": 54,
            //     "testprevIcon": 12,
            //     "testchildren": 21,
            //     "testshape": 98,
            //     "testnextIcon": 12,
            //     "testshowNextBtn": 17,
            //     "teststopIcon": 21,
            //     "testvisibleMin": 83,
            //     "testvisualDimension": 97,
            //     "testcolorSaturation": 56,
            //     "testcolorAlpha": 66,
            //     "testemptyItemWidth": 10,
            //     "testinactiveOpacity": 4,
            //     "testactiveOpacity": 4,
            //     "testshowPrevBtn": 19,
            //     "testplayIcon": 26,
            //     "testellipsis": 19,
            //     "testgapWidth": 19,
            //     "testborderColorSaturation": 10,
            //     "testhandleIcon": 2,
            //     "testhandleStyle": 6,
            //     "testborderType": 1,
            //     "testconstantSpeed": 1,
            //     "testpolyline": 2,
            //     "testblendMode": 1,
            //     "testdataBackground": 1,
            //     "testtextAlign": 1,
            //     "testtextBaseline": 1
            // };

            var data = [];
            for (var name in keywords) {
                data.push({
                    name: name,
                    value: Math.sqrt(keywords[name])
                })
            }

            var maskImage = new Image();

            var option = {
                series: [ {
                    type: 'wordCloud',
                    sizeRange: [10, 100],
                    rotationRange: [-90, 90],
                    rotationStep: 45,
                    gridSize: 2,
                    shape: 'pentagon',
                    maskImage: maskImage,
                    drawOutOfBound: false,
                    textStyle: {
                        normal: {
                            color: function () {
                                return 'rgb(' + [
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160)
                                ].join(',') + ')';
                            }
                        },
                        emphasis: {
                            color: 'red'
                        }
                    },
                    data: data.sort(function (a, b) {
                        return b.value  - a.value;
                    })
                } ]
            };

            maskImage.onload = function () {
                option.series[0].maskImage
                chart.setOption(option);
            }

            // maskImage.src = 'logo.png';
            maskImage.src = 'black_circle.jpg';

            window.onresize = function () {
                chart.resize();
            }

        </script>
    </body>
</html>