<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- 起始欢迎界面 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!--如果不添加下边的映射，会找不到对应后缀文件的url-->
  <!--<servlet-mapping>-->
    <!--<servlet-name >default </servlet-name >-->
    <!--<url-pattern >*.js</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >default </servlet-name >-->
    <!--<url-pattern >*.css</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >default </servlet-name >-->
    <!--<url-pattern >*.json</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >default </servlet-name >-->
    <!--<url-pattern >*.png</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >default </servlet-name >-->
    <!--<url-pattern >*.jpg</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >default </servlet-name >-->
    <!--<url-pattern >*.svg</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >default </servlet-name >-->
    <!--<url-pattern >*.gif</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >default </servlet-name >-->
    <!--<url-pattern >*.ico</url-pattern>-->
  <!--</servlet-mapping >-->
  <!--<servlet-mapping >-->
    <!--<servlet-name >default </servlet-name >-->
    <!--<url-pattern >/resources/fonts/*</url-pattern>-->
  <!--</servlet-mapping >-->
  <servlet-mapping >
    <servlet-name >default </servlet-name >
    <url-pattern >/resources/*</url-pattern>
  </servlet-mapping >

  <!-- 读取spring配置文件 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:application.xml</param-value>
  </context-param>

  <!-- 设计路径变量值 -->
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>springmvc.root</param-value>
  </context-param>

  <!-- Spring字符集过滤器 -->
  <filter>
    <filter-name>SpringEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SpringEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- springMVC核心配置 -->
  <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <!--spingMVC的配置路径  -->
      <param-value>classpath:springmvc/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- 拦截设置 -->
  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- 错误跳转页面 -->
  <!--    <error-page>
          &lt;!&ndash; 路径不正确 &ndash;&gt;
          <error-code>404</error-code>
          <location>/WEB-INF/errorpage/404.jsp</location>
      </error-page>
      <error-page>
          &lt;!&ndash; 没有访问权限，访问被禁止 &ndash;&gt;
          <error-code>405</error-code>
          <location>/WEB-INF/errorpage/405.jsp</location>
      </error-page>
      <error-page>
          &lt;!&ndash; 内部错误 &ndash;&gt;
          <error-code>500</error-code>
          <location>/WEB-INF/errorpage/500.jsp</location>
      </error-page>-->
</web-app>
